# Исключение конфиденциальных данных
.env

# Исключение файлов и папок виртуальной среды
__pycache__/
*.pyc

# Исключение скомпилированных файлов
*.pyo

# Логи
*.log

# Исключение зависимостей Poetry (если хотите исключить их)
poetry.lock

# Исключение IDE-конфигураций
.idea/
.vscode/
